*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 2px solid red;
}
.body{
    border: 2px solid red;
    border-bottom: none;

}

.box{
    border: 2px solid red;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    z-index: 3;
    transform: scale(1.5);
    

}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.7fr 4.3fr 2fr;
    overflow: hidden;
}